@font-face { font-family: 'FontAwesome'; src: local('FontAwesome'); }

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
	padding: 60px 15px 0;
}
.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

/* Custom CSS */
.red {
	background-color: red;
}

p a {
	color:#6F68B7;
}


/* --------------- Tiles ------------- */
.tile {
    display:block;
    cursor: pointer;
    -webkit-perspective: 0;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.2s;
	float: left;
    min-width: 75px;
    min-height: 75px;
	text-align:center;
	opacity:0.75;
    z-index: 1;
}

.tile img {
    border :0;
}

.tile:hover { 
    opacity:1;
}

.tile .tile-label {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
}

.tile .tile-content .tile-icon-large {
    margin-left: 0px;
    vertical-align: middle !important;
    text-align: center;
}

.tile .tile-content {
    padding-top: 20px;
    line-height: normal;
    position: relative;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tile.tile-small {
    height: 70px;
    width: 70px;
}

.tile.tile-medium {
    height: 150px;
    width: 150px;
}

.tile.tile-wide, .tile.tile-double {
    height: 150px;
    width: 310px;
}

.tile.tile-large {
    height: 310px;
    width: 310px;
}